<a href="https://colab.research.google.com/github/lililalina/UoM-stats-with-python/blob/main/02%20Inferential%20Statistics/2_6_week2_assessmment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Confidence intervals in python**

In this assessment, you will look at data from a study on toddler sleep habits.

The confidence intervals you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

In [22]:
import numpy as np
import pandas as pd
from scipy.stats import t
pd.set_option('display.max_columns', 30) # set so can see all columns of the DataFrame

Your goal is to analyse data which is the result of a study that examined differences in a number of sleep variables between napping and non-napping toddlers. Some of these sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note: Decimalized time is the representation of the time of day using units which are decimally related.

The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral problems. These children were categorized as napping or non-napping based upon parental report of childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and sleep diaries during the 5 days before the study assessments were made.

You are specifically interested in the results for Bedtime.

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

In [23]:
# Import the data
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/UoM stats with python/napping.csv")

In [24]:
# First, look at the DataFrame to get a sense of the data
df

,id,sex,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
0,1,female,33.7,19.24,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.45,20.68,0.23,1.92,7.17,629.40,643.00,629.40,-1.21,-1.44,6.68,11.93
1,2,female,31.5,18.27,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.23,19.48,0.25,1.09,6.69,672.40,700.40,672.40,-0.96,-1.21,6.82,12.42
2,3,male,31.9,19.14,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60,20.05,0.45,1.29,6.53,628.80,682.60,628.80,-0.46,-0.91,6.15,11.39
3,4,female,31.6,19.69,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46,19.50,0.05,1.89,8.28,766.60,784.00,766.60,0.23,0.19,6.20,12.59
4,5,female,33.0,19.52,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.21,19.65,0.45,1.30,6.95,678.00,718.00,678.00,0.31,-0.13,5.78,11.43
5,6,female,36.2,18.22,4.0,1.0,14.00,14.22,15.00,15.78,16.28,93.75,137.00,19.95,20.25,0.29,1.26,6.28,602.20,653.80,695.95,-1.73,-2.03,7.05,12.06
6,7,male,36.3,19.28,1.0,1.0,14.75,15.03,15.92,16.80,16.08,106.00,80.00,20.60,20.96,0.36,2.12,7.27,618.40,655.40,724.40,-1.32,-1.68,6.84,11.99
7,8,male,30.0,21.06,5.0,1.0,13.09,13.43,14.44,15.46,15.82,121.60,163.80,22.01,22.53,0.51,2.92,7.31,526.80,582.40,648.40,-0.95,-1.47,5.86,10.25
8,9,male,33.2,19.38,2.0,1.0,14.41,14.42,15.71,17.01,16.60,155.50,131.25,20.24,20.37,0.13,1.60,6.82,626.80,660.33,782.30,-0.86,-0.99,6.22,11.44
9,10,female,37.1,19.93,3.0,1.0,13.12,13.42,14.31,15.19,15.30,106.67,130.67,20.78,21.63,0.84,2.20,6.52,549.50,626.00,656.17,-0.76,-1.82,6.21,10.59
10,11,male,32.9,18.79,4.0,1.0,13.99,14.03,14.85,15.68,16.10,98.75,126.60,19.45,19.88,0.44,1.34,6.80,655.20,694.80,753.95,-0.66,-1.09,6.55,12.01
11,12,female,35.0,19.65,5.0,1.0,13.18,13.45,14.33,15.21,15.35,105.80,130.40,20.18,20.84,0.66,1.93,7.03,611.20,660.40,717.00,-0.53,-1.19,6.28,11.38
12,13,male,35.1,19.83,3.0,1.0,13.94,14.48,15.26,16.03,15.78,93.33,110.20,20.22,20.89,0.67,1.99,7.09,611.80,662.20,705.13,-0.39,-1.06,6.16,11.26
13,14,female,35.6,19.88,4.0,1.0,12.68,13.08,13.92,14.76,15.00,100.75,139.33,20.26,20.80,0.54,1.96,7.11,618.80,671.20,719.55,-0.38,-0.92,6.08,11.23
14,15,female,36.6,19.94,4.0,1.0,12.71,12.88,13.80,14.72,14.88,110.75,130.00,20.28,20.92,0.64,1.49,6.33,548.00,595.00,658.75,-0.34,-0.90,5.64,10.39
15,16,male,36.5,20.25,3.0,1.0,13.74,14.68,15.66,16.64,16.45,117.33,162.75,20.46,21.25,0.79,2.19,7.13,593.25,662.00,710.58,-0.21,-1.00,5.94,10.88
16,17,female,33.7,20.33,5.0,1.0,13.15,13.87,14.49,15.11,15.40,74.20,135.00,20.43,21.03,0.60,2.44,7.86,649.80,708.60,724.00,-0.10,-0.70,6.12,11.53
17,18,male,36.4,20.16,5.0,1.0,12.47,12.56,13.30,14.05,14.25,89.80,107.00,20.02,20.45,0.43,1.23,6.01,573.60,614.60,663.40,0.14,-0.29,5.07,9.85
18,19,female,33.6,19.68,3.0,1.0,14.71,14.85,15.46,16.07,16.20,73.00,89.40,19.50,19.64,0.14,1.42,7.20,693.40,715.00,766.40,0.18,0.04,5.74,11.52
19,20,male,33.8,20.51,3.0,1.0,12.68,13.54,14.30,15.07,15.23,91.67,152.67,20.18,21.38,1.19,2.51,7.63,615.33,692.00,707.00,0.33,-0.87,6.00,11.12
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0 = no; 1 = yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,all times are decimal values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Question: What value is used in the column 'napping' to indicate a toddler takes a nap? (see reference article) 

napping = 1, non napping = 0

Question: What is the overall sample size  n ? What is the sample size for toddlers who nap,  n1 , and toddlers who don't nap,  n2 ? 

n1 or napping = 15, n2 or non napping = 5

### Average bedtime confidence interval for napping and non napping toddlers
Create two 95% confidence intervals for the average bedtime, one for toddler who nap and one for toddlers who don't.

In [25]:
# Isolate the column napping and night bedtime
df_bedtime = df[['napping', 'night bedtime']]
df_bedtime = df_bedtime.groupby(['napping']).agg({'night bedtime':[ np.mean, np.std, np.size]})
df_bedtime

        night bedtime
                 mean       std size
napping
0.0            19.590  0.507592    5
1.0            20.304  0.591062   15

In [26]:
# Average bedtime for toddlers who nap and its 95% CI
n1 = df_bedtime.iloc[1,2]
nap_mean_bedtime = df_bedtime.iloc[1,0]
nap_s_bedtime = df_bedtime.iloc[1,1] 
nap_se_mean_bedtime = nap_s_bedtime/(np.sqrt(n1))

# t value for n = 15, CI 95%
nap_t_star = t.ppf(1- ((100-95)/2/100), 14)

# Calculate the lcb and ucb
lcb_bedtime_nap = nap_mean_bedtime - nap_se_mean_bedtime*nap_t_star
ucb_bedtime_nap = nap_mean_bedtime + nap_se_mean_bedtime*nap_t_star

print('Average bedtime for toddlers who nap:', nap_mean_bedtime, "Â±", nap_se_mean_bedtime)
print('Lower bound:', lcb_bedtime_nap, "Upper bound:", ucb_bedtime_nap)

Average bedtime for toddlers who nap: 20.304 Â± 0.15261155170656576
Lower bound: 19.976680775477412 Upper bound: 20.631319224522585

In [27]:
# Average bedtime for toddlers who do not nap and its 95% CI
n2 = df_bedtime.iloc[0,2]
no_nap_mean_bedtime = df_bedtime.iloc[0,0]
no_nap_s_bedtime = df_bedtime.iloc[0,1] 
no_nap_se_mean_bedtime = no_nap_s_bedtime/(np.sqrt(n2))

# t value for n = 5, CI 95%
no_nap_t_star = t.ppf(1- ((100-95)/2/100), 4)

# Calculate the lcb and ucb
lcb_bedtime_nonap = no_nap_mean_bedtime - no_nap_se_mean_bedtime*no_nap_t_star
ucb_bedtime_nonap = no_nap_mean_bedtime + no_nap_se_mean_bedtime*no_nap_t_star

print('Average bedtime for toddlers who do not nap:', no_nap_mean_bedtime, "Â±",no_nap_se_mean_bedtime)
print('Lower bound:', lcb_bedtime_nonap, "Upper bound:", ucb_bedtime_nonap)

Average bedtime for toddlers who do not nap: 19.59 Â± 0.22700220263248558
Lower bound: 18.959740845631917 Upper bound: 20.220259154368083

#### Notes for t value
Example: to find the $t^*$ for a 90% confidence interval, we want $t^*$ such that 90% of the density of the $t$ distribution lies between $-t^*$ and $t^*$.

Or in other words if $X \sim t(df)$:

P($-t^*$ < X < $t^*$) = .90

Which, because the $t$ distribution is symmetric, is equivalent to finding $t^*$ such that:  

P(X < $t^*$) = .95

(0.95 = 1 - (1 - confidence) / 2 = 1 - 0.1 / 2 = 1 - 0.05)

So the $t^*$ for a 90% confidence interval, and lets say df=10, will be:

t_star = t.ppf(.95, df=10)