<a href="https://colab.research.google.com/github/lililalina/UoM-stats-with-python/blob/main/02%20Inferential%20Statistics/3_5_week_3_assesment_hypothesis_testing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hypothesis Tests in Python
In this assessment, you will look at data from a study on toddler sleep habits. 

The hypothesis tests you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import t
pd.set_option('display.max_columns', 30) # set so can see all columns of the DataFrame

Your goal is to analyse data which is the result of a study that examined differences in a number of sleep variables between napping and non-napping toddlers. Some of these sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note: Decimalized time is the representation of the time of day using units which are decimally related.

The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral problems. These children were categorized as napping or non-napping based upon parental report of childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and sleep diaries during the 5 days before the study assessments were made.

You are specifically interested in the results for the Bedtime and Total 24-Hour Sleep Duration.

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

In [2]:
# Import the data
df = pd.read_csv("/content/drive/MyDrive/COLAB NOTEBOOK/UoM stats with python/napping.csv")

In [3]:
# First, look at the DataFrame to get a sense of the data
df

,id,sex,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
0,1,female,33.7,19.24,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.45,20.68,0.23,1.92,7.17,629.40,643.00,629.40,-1.21,-1.44,6.68,11.93
1,2,female,31.5,18.27,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.23,19.48,0.25,1.09,6.69,672.40,700.40,672.40,-0.96,-1.21,6.82,12.42
2,3,male,31.9,19.14,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60,20.05,0.45,1.29,6.53,628.80,682.60,628.80,-0.46,-0.91,6.15,11.39
3,4,female,31.6,19.69,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46,19.50,0.05,1.89,8.28,766.60,784.00,766.60,0.23,0.19,6.20,12.59
4,5,female,33.0,19.52,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.21,19.65,0.45,1.30,6.95,678.00,718.00,678.00,0.31,-0.13,5.78,11.43
5,6,female,36.2,18.22,4.0,1.0,14.00,14.22,15.00,15.78,16.28,93.75,137.00,19.95,20.25,0.29,1.26,6.28,602.20,653.80,695.95,-1.73,-2.03,7.05,12.06
6,7,male,36.3,19.28,1.0,1.0,14.75,15.03,15.92,16.80,16.08,106.00,80.00,20.60,20.96,0.36,2.12,7.27,618.40,655.40,724.40,-1.32,-1.68,6.84,11.99
7,8,male,30.0,21.06,5.0,1.0,13.09,13.43,14.44,15.46,15.82,121.60,163.80,22.01,22.53,0.51,2.92,7.31,526.80,582.40,648.40,-0.95,-1.47,5.86,10.25
8,9,male,33.2,19.38,2.0,1.0,14.41,14.42,15.71,17.01,16.60,155.50,131.25,20.24,20.37,0.13,1.60,6.82,626.80,660.33,782.30,-0.86,-0.99,6.22,11.44
9,10,female,37.1,19.93,3.0,1.0,13.12,13.42,14.31,15.19,15.30,106.67,130.67,20.78,21.63,0.84,2.20,6.52,549.50,626.00,656.17,-0.76,-1.82,6.21,10.59
10,11,male,32.9,18.79,4.0,1.0,13.99,14.03,14.85,15.68,16.10,98.75,126.60,19.45,19.88,0.44,1.34,6.80,655.20,694.80,753.95,-0.66,-1.09,6.55,12.01
11,12,female,35.0,19.65,5.0,1.0,13.18,13.45,14.33,15.21,15.35,105.80,130.40,20.18,20.84,0.66,1.93,7.03,611.20,660.40,717.00,-0.53,-1.19,6.28,11.38
12,13,male,35.1,19.83,3.0,1.0,13.94,14.48,15.26,16.03,15.78,93.33,110.20,20.22,20.89,0.67,1.99,7.09,611.80,662.20,705.13,-0.39,-1.06,6.16,11.26
13,14,female,35.6,19.88,4.0,1.0,12.68,13.08,13.92,14.76,15.00,100.75,139.33,20.26,20.80,0.54,1.96,7.11,618.80,671.20,719.55,-0.38,-0.92,6.08,11.23
14,15,female,36.6,19.94,4.0,1.0,12.71,12.88,13.80,14.72,14.88,110.75,130.00,20.28,20.92,0.64,1.49,6.33,548.00,595.00,658.75,-0.34,-0.90,5.64,10.39
15,16,male,36.5,20.25,3.0,1.0,13.74,14.68,15.66,16.64,16.45,117.33,162.75,20.46,21.25,0.79,2.19,7.13,593.25,662.00,710.58,-0.21,-1.00,5.94,10.88
16,17,female,33.7,20.33,5.0,1.0,13.15,13.87,14.49,15.11,15.40,74.20,135.00,20.43,21.03,0.60,2.44,7.86,649.80,708.60,724.00,-0.10,-0.70,6.12,11.53
17,18,male,36.4,20.16,5.0,1.0,12.47,12.56,13.30,14.05,14.25,89.80,107.00,20.02,20.45,0.43,1.23,6.01,573.60,614.60,663.40,0.14,-0.29,5.07,9.85
18,19,female,33.6,19.68,3.0,1.0,14.71,14.85,15.46,16.07,16.20,73.00,89.40,19.50,19.64,0.14,1.42,7.20,693.40,715.00,766.40,0.18,0.04,5.74,11.52
19,20,male,33.8,20.51,3.0,1.0,12.68,13.54,14.30,15.07,15.23,91.67,152.67,20.18,21.38,1.19,2.51,7.63,615.33,692.00,707.00,0.33,-0.87,6.00,11.12
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0 = no; 1 = yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,all times are decimal values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Question**: What value is used in the column 'napping' to indicate a toddler takes a nap? (see reference article) 
**Answer** : napping = 1, no napping = 0


**Questions**: What is the overall sample size $n$? What are the sample sizes of napping and non-napping toddlers?
**Answer** : napping = 15, non-napping = 5

## Hypothesis tests
We will look at two hypothesis test, each with $\alpha = .05$:  


1. Is the average bedtime for toddlers who nap later than the average bedtime for toddlers who don't nap?


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}>\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap}>0$$


2. The average 24 h sleep duration (in minutes) for napping toddlers is different from toddlers who don't nap.


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}\neq\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap} \neq 0$$

First isolate `night bedtime` into two variables - one for toddlers who nap and one for toddlers who do not nap.

In [4]:
nap_bedtime = df['night bedtime'][df['napping'] == 1]
nap_bedtime

5     19.95
6     20.60
7     22.01
8     20.24
9     20.78
10    19.45
11    20.18
12    20.22
13    20.26
14    20.28
15    20.46
16    20.43
17    20.02
18    19.50
19    20.18
Name: night bedtime, dtype: float64

In [5]:
no_nap_bedtime = df['night bedtime'][df['napping'] == 0]
no_nap_bedtime

0    20.45
1    19.23
2    19.60
3    19.46
4    19.21
Name: night bedtime, dtype: float64

In [6]:
#nap bedtime mean
nap_bedtime_mean = nap_bedtime.mean()
nap_bedtime_mean

20.304

In [7]:
# no nap bedtime mean
no_nap_bedtime_mean = no_nap_bedtime.mean()
no_nap_bedtime_mean

19.590000000000003

**Question**: What is the sample difference of mean bedtime for nappers minus no nappers?

In [8]:
mean_dif = nap_bedtime_mean - no_nap_bedtime_mean
mean_dif

0.7139999999999951

Standard deviation for $X_{nap}$ and $X_{no\ nap}$.

In [9]:
# use ddof parameter 1 to get sample standard deviation
nap_s_bedtime = np.std(nap_bedtime, ddof = 1)
nap_s_bedtime

0.5910619981984009

In [10]:
no_nap_s_bedtime = np.std(no_nap_bedtime, ddof = 1)
no_nap_s_bedtime

0.5075923561284187

**Question**: What is the s.e.$(\bar{X}_{nap} - \bar{X}_{no\ nap})$?

We expect the variance in sleep time for toddlers who nap and toddlers who don't nap to be the same. So we use a pooled standard error.

Calculate the pooled standard error of $\bar{X}_{nap} - \bar{X}_{no\ nap}$ using the formula below.

$s.e.(\bar{X}_{nap} - \bar{X}_{no\ nap}) = \sqrt{\frac{(n_1-1)s_1^2 + (n_2-1)s_2^2}{n_1+n_2-2}(\frac{1}{n_1}+\frac{1}{n_2})}$

In [11]:
a = (15-1)*nap_s_bedtime**2
b = (5-1)*no_nap_s_bedtime**2
c = (1/15)+(1/5)
pooled_se = np.sqrt(((a+b)/18)*c)
pooled_se

0.2961871280370147

**Question**: Given our sample size of $n$, how many degrees of freedom ($df$) are there for the associated $t$ distribution?

Answer : 18


Now calculate the $t$-test statistic for our first hypothesis test using  
* pooled s.e.($\bar{X}_{nap} - \bar{X}_{no\ nap}$)  
* $\bar{X}_{nap} - \bar{X}_{no\ nap}$  
* $\mu_{0,\ nap} - \mu_{0,\ no\ nap}=0$, the population difference in means under the null hypothesis

In [12]:
tstats = (mean_dif - 0)/pooled_se
tstats

2.4106381824626966

**Question**: What is the p-value for the first hypothesis test?

For a discussion of probability density functions (PDF) and cumulative distribution functions (CDF) see:

https://integratedmlai.com/normal-distribution-an-introductory-guide-to-pdf-and-cdf/

To find the p-value, we can use the CDF for the t-distribution:
```
t.cdf(tstat, df)
```
Which for $X \sim t(df)$ returns $P(X \leq tstat)$.

Because of the symmetry of the $t$ distribution, we have that 
```
1 - t.cdf(tstat, df)
```
returns $P(X > tstat)$

The function `t.cdf(tstat, df)` will give you the same value as finding the one-tailed probability of `tstat` on a t-table with the specified degrees of freedom.

Use the function `t.cdf(tstat, df)` to find the p-value for the first hypothesis test.

In [26]:
t.cdf(tstats, 18) #find the cdf (pvalue, just 1-t.cdf(tstats,df))

0.986582958561157

In [27]:
1-t.cdf(tstats, 18)

0.013417041438843036

In [14]:
from scipy import stats
import scipy

In [15]:
scipy.stats.ttest_ind(nap_bedtime, no_nap_bedtime, equal_var = True) #pvalue result for two-sided test

Ttest_indResult(statistic=2.4106381824626966, pvalue=0.026834082877686044)

In [16]:
# to get one-sided test, we need to divide the pvalue above with 2
pvalue_oneside = 0.026834082877686044/2
pvalue_oneside

0.013417041438843022

**Question**: For the $\alpha=.05$, do you reject or fail to reject the first hypothesis?

For the first hypothesis, p_value is 0.026 which is < alpha of 0.05. So we reject the null hypothesis. Therefore, night bedtime in children who nap is less or equal to the children who doesn't nap.

2. The average 24 h sleep duration (in minutes) for napping toddlers is different from toddlers who don't nap.

$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}\neq\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap} \neq 0$$

First isolate `night bedtime` into two variables - one for toddlers who nap and one for toddlers who do not nap.

In [17]:
# Test for the 2nd hypothesis
nap_night_duration = df['night sleep duration'][df['napping'] == 1]
no_nap_night_duration = df['night sleep duration'][df['napping'] == 0]

In [18]:
nap_mean_duration = nap_night_duration.mean()
nap_mean_duration

606.272

In [19]:
no_nap_mean_duration = no_nap_night_duration.mean()

In [20]:

sleep_duration = df.groupby(['napping']).agg({'night sleep duration': [np.mean, np.std]})
sleep_duration

        night sleep duration
                        mean        std
napping
0.0                  675.040  56.169636
1.0                  606.272  43.858825

In [21]:

scipy.stats.ttest_ind(nap_night_duration, no_nap_night_duration, equal_var = True)

Ttest_indResult(statistic=-2.8409428070482057, pvalue=0.01084088459007456)

In [22]:
nap_s_nighttime = np.std(nap_night_duration, ddof = 1)
no_nap_s_nighttime = np.std(no_nap_night_duration, ddof = 1)

In [23]:
x = (15-1)*nap_s_nighttime**2
y = (5-1)*no_nap_s_nighttime**2
z = (1/15)+(1/5)
pooled_set = np.sqrt(((x+y)/18)*z)
pooled_set

24.20604872065383

In [24]:
ts = (no_nap_mean_duration - nap_mean_duration)/pooled_set
ts

2.8409428070482057

In [25]:
(1- t.cdf(ts, 18))*2 #for two sided test, multiply by two

0.010840884590074484

**Question**: What are the t-statistic and p-value for the second hypothesis test?

Calculate the  t  test statistics and corresponding p-value using the scipy function scipy.stats.ttest_ind(a, b, equal_var=True) and check with your answer.

**Question**: Does scipy.stats.ttest_ind return values for a one-sided or one-sided test?

two-sided test

**Question**: Can you think of a way to recover the results you got using 1-t.cdf from the p-value given by scipy.stats.ttest_ind?

Use the scipy function scipy.stats.ttest_ind(a, b, equal_var=True) to find the  t  test statistic and corresponding p-value for the second hypothesis test.

Question: For the  Î±=.05 , do you reject or fail to reject the second hypothesis?

H : The average 24 h sleep duration (in minutes) for napping toddlers is different from toddlers who don't nap.

For the second hypothesis, pvalue is 0.988 which is bigger than alpha of 0.05 so we fail to reject the null hypothesis and say that in children who nap and do not nap, there's difference of night sleep duration.

#### Note

Finding p-value :

1-t.cdf(tstats, df) --> this results in one-sided p-value. To find two sided p-value should be multiplied by two.

Using method 
stats.ttest_ind(x1, x2) -- > this result in two-sided p-value. To find one-sided p-value should be divided by two. 



**More reading**

*https://www.programcreek.com/python/example/113287/scipy.stats.t.cdf

*https://towardsdatascience.com/one-tailed-or-two-tailed-test-that-is-the-question-1283387f631c